body {
    font-family: sans-serif;
    background-color: rgb(168, 232, 200);
    color: #482e58;
    margin: 0;
}

.fg-secondary {
    color: #65566e;
}

ul {
    list-style-type: none;
    padding: 0;
}

small {
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: #5f37cb;
}

a:hover:not(.text-shadow-none) {
    text-shadow: #482e58 0px 0px 8px;
}

.text-decoration-none {
    text-decoration: none;
    color: #482e58;
}

.text-shadow-none {
    text-shadow: #00000000;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.ms-0 {
    margin-left: 0;
}

.me-0 {
    margin-right: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.ms-2 {
    margin-left: 2rem;
}

.me-2 {
    margin-right: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.ms-3 {
    margin-left: 3rem;
}

.me-3 {
    margin-right: 3rem;
}

.align-items-center {
    align-items: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.row {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.col {
    flex: 1 0 0%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

@media screen and (min-width: 576px) {
    .row {
        gap: 2rem
    }

    .p-sm-2 {
        padding: 2rem;
    }

    .col-sm {
        flex: 1 0 0%;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .text-sm-start {
        text-align: start;
    }

    .text-sm-center {
        text-align: center;
    }

    .text-sm-end {
        text-align: end;
    }
}

@media screen and (min-width: 768px) {
    .col-md {
        flex: 1 0 0%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .text-md-start {
        text-align: start;
    }

    .text-md-center {
        text-align: center;
    }

    .text-md-end {
        text-align: end;
    }
}

@media screen and (min-width: 992px) {
    .col-lg {
        flex: 1 0 0%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-lg-reverse {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }

    .justify-content-lg-end {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1200px) {
    .col-xl {
        flex: 1 0 0%;
    }

    .col-xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

.flex-wrap {
    flex-wrap: wrap;
}

.max-content {
    min-width: max-content;
}

.calc-buttons {
    width: fit-content;
}

.calc-buttons > div > button {
    width: 60px;
    height: 50px;
    font-size: 16px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #7ad49b;
    cursor: pointer;
}

.calc-display {
    width: 330px;
    margin: 5px;
    border: 1px solid #000;
    padding: 5px;
    border-radius: .3rem;
}

.calc-display > .calc-input {
    border: none;
    font-size: 16px;
    background-color: #0000;
}

.calc-display > .calc-input:focus-visible {
    outline: none;
}

.calc-display .calc-answer {   
    text-align: end;
    font-size: 24px;
}
